.upload{
        min-height: 230px;
        border: 2px dashed #ced4da;
        background: #fff;
        border-radius: 6px;
        
    
}
.card-header{
    background-color: white;
}
.upload-file{
    text-align: center;
    margin: 2rem 0rem;
}
:host ::ng-deep .p-button  {
    color:black;
    background: none; 
    border: none;
    .pi-plus:before {
        content: "\e944";
        font-size: 50px;
    }
    .p-disabled  {
        display: none !important;
    } 
}
:host ::ng-deep.p-fileupload .p-fileupload-buttonbar {
    background: white;
    border: none;
    color: #343a40;
    border-bottom: 0 none; 
     border-top-right-radius: none;
    border-top-left-radius: none;
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {  
        display: none;
    }
}
:host ::ng-deep.p-fileupload .p-fileupload-content {
    background: white;
    padding: 2rem 1rem;
    border: none;
    color: #495057;
    border-bottom-right-radius: none;
    border-bottom-left-radius: none;
    .p-progressbar {
        background:none; 
    }
}
:host ::ng-deep.p-fileupload-row {
   border-radius: 6px;
    border: 1px solid #ced4da;
}

:host ::ng-deep.p-fileupload-choose:not(.p-disabled):hover {
    background: none;
    color: black;
    border-color:none;
}
:host ::ng-deep.p-button:focus {
    box-shadow: none !important;
}
.btn-style{
    background-color: #414598 ;
    color: white;
}
:host ::ng-deep.p-button-label {
    display: none;
}


 